body {
  background-color: #1a1a1a;
  font-family: 'Arial', sans-serif;
  color: #ccc;
  margin: 0;
  padding: 0;
}

header {
  background: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.header-content h1 {
  margin: 0;
  font-size: 2.5em;
  text-transform: uppercase;
}

.menu {
  background: #222;
  text-align: center;
  border-top: 4px solid #444;
  border-bottom: 4px solid #444;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  display: inline;
  margin-right: 20px;
}

.menu ul li a {
  font-size: 1.2em;
  color: #ddd;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
}

.menu ul li a:hover,
.menu ul li a:focus {
  color: #fff;
  background: #555;
}

/* Responsive Design for smaller screens */
@media (max-width: 600px) {
  .menu ul li {
      display: block;
      margin-right: 0;
      text-align: center;
  }
}
